* {
    FONT-FAMILY: ARIAL, SANS-SERIF;
}

body {
    BACKGROUND-COLOR: LIGHTGRAY;
}



nav {
    margin-bottom: 40px;
    margin-top: 40px;
    display: flex;
    gap: 20px;

}

nav a {
    text-decoration: none;
    color: darkblue;
    font-weight: bold;

}



.education {
    display: flex;
    align-items: flex-start;
    gap: 15px;
    padding: 10px;
    width: 1000px;

}

.education img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}

.education h3 {
    margin: 0;
    color: darkblue;
}